<p>Dungeon Spellbook</p>
<img *ngIf="life == 3" src="./assets/img/dungeonspellbook.png" alt="dungeonimg">
<img *ngIf="life == 2" src="./assets/img/dungeonspellbook1.png" alt="dungeonimg">
<img *ngIf="life == 1" src="./assets/img/dungeonspellbook2.png" alt="dungeonimg">
<button class="barrier" [ngClass]="{ 'on': switch }" [routerLink] = "['../dungeonspellbook']">Dispel the barrier</button>
<div class="textbox">
    <p>{{description}}</p>
</div>
<div [ngClass]="{ 'on': switch1 }">
    <p [innerHTML]="question"></p>
    <div *ngFor="let answer of answers; let i = index">
        <button (click)="onClick(i)" [innerHTML]="answer"></button>
        <br>
    </div>
</div>