.container{
    outline: 1px dotted green;
}
span{
    display: inline-block;
}
.inventory{
    width: 800px;
    outline: 3px solid black;
    height: 41px;
    
}
.item{
    display: inline-block;
}
