.textbox{
    width: 400px;
    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-left: 200px;
}
img{
    width: 800px;
    border: 2px solid gray;
}
.barrier{
    position: absolute;
    left:320px;
    top: 640px;
}
button{
    background-image: linear-gradient( rgb(250, 215, 162), rgb(202, 157, 31));
    border-radius: 3px;
}