.textbox{
    width: 400px;
    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-left: 200px;
}
img{
    width: 800px;
    border: 2px solid gray;
}
.sink{
    position: absolute;
    left:650px;
    top: 450px;
}
.frontroom{
    position: absolute;
    left:90px;
    top: 650px;
}
button{
    background-image: linear-gradient( rgb(174, 200, 255), rgb(98, 147, 253));
    border-radius: 3px;
}