<div class="container">
    <h3>In the Front Room</h3>
    <img src="./assets/img/front-room.png" alt="frontroomimg">
    <button class="parlor" [routerLink]="['../parlor']">Parlor</button>
    <button class="kitchen" [routerLink]="['../kitchen']">kitchen</button>
    <button class="garage" [routerLink]="['../garage']">garage</button>
    <button class="backyard" [routerLink]="['../backyard']">backyard</button>
    <button class="upstairs" [routerLink]="['../upstairslanding']">Upstairs</button>

    <button class="basement" (click)="param(0)" >basement</button>

    <div class="textbox">
        <p>{{description}}</p>
    </div>

</div>

<router-outlet></router-outlet>