<h3>
  Doing the first navigation puzzle
</h3>


<button (click)="getCountryInfo('europe')">europe</button>
<button (click)="getCountryInfo('americas')">americas</button>
<button (click)="getCountryInfo('africa')">africa</button>
<button (click)="getCountryInfo('asia')">asia</button>
<button (click)="getCountryInfo('oceania')">oceania</button>

<div class="countrybox" *ngFor="let country of countries">
  {{country.name}}
  <img src="{{country.flag}}" alt="flag">
</div>

<p></p>

<button [routerLink]="['../navigationroom2']">move to the next navigation room</button>
