<p>Dungeon</p>
<img *ngIf="life == 3" src="./assets/img/dungeon.png" alt="dungeonimg">
<img *ngIf="life == 2" src="./assets/img/dungeon1.png" alt="dungeonimg">
<img *ngIf="life == 1" src="./assets/img/dungeon2.png" alt="dungeonimg">
<button class="door" [ngClass]="{ 'on': switch }" [routerLink] = "['../dungeonroom2']">Open the door</button>
<div class="textbox">
    <p>{{description}}</p>
</div>
<div [ngClass]="{ 'on': switch1 }">
    <p [innerHTML]="question"></p>
    <div *ngFor="let answer of answers; let i = index">
        <button (click)="onClick(i)" [innerHTML]="answer"></button>
        <br>
    </div>
</div>